.map {
  position: relative;
  display: block;
  width: 100%;
  background-image: url("/img/bg-map-mob.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("/img/bg-map-tab.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/bg-map-desk.jpg");
  }
}

// .map__canvas {
//   @media (max-width: $mobile-width-only) {
//     height: 420px;
//   }

//   @media (min-width: $tablet-width) {
//     height: 480px;
//   }

//   @media (min-width: $desktop-width) {
//     height: 540px;
//   }
// }

.map {
  margin: 0 auto;
  min-width: 320px;
  height: 420px;
  background-color: $basic-grey;
  background-image: url("/img/bg-map-mob.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-width: 768px;
    height: 480px;
    background-image: url("/img/bg-map-tab.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-width: 1440px;
    height: 540px;
    background-image: url("/img/bg-map-desk.jpg");
  }
}

.map__wrapper {
  width: 100%;
  height: 100%;
}

.map__picture {
  min-width: 320px;

  @media (min-width: 768px) {
    min-width: 768px;
    width: 100%;
  }
}