
.milk__title {
  font-size: 16px;
  line-height: 24px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.milk__list {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 214px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.milk__item {
  font-size: 16px;
  line-height: 24px;
  color: $basic-black;
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.milk__item-label {
  position: relative;
}

.milk__item-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid $basic-grey;
  border-radius: 50%;
  box-sizing: border-box;
}

.milk__item-text {
  display: inline-block;
  padding-left: 35px;  

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-top: 2px;
  }
}

.milk__item-input[type="radio"]:checked + .milk__item-mark::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  background-color: $basic-primary;
  border-radius: 50%;
}

.milk__item-input[type="radio"]:not(:disabled) + .milk__item-mark:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  background-color: rgba(120, 89, 207, 0.25);
  border-radius: 50%;
}

.milk__item-input[type="radio"]:checked + .milk__item-mark {
  border: 2px solid $basic-primary;
}
  
.milk__item-input[type="radio"]:not(:disabled) + .milk__item-mark:hover {
  border: 2px solid $basic-primary;
}
  
.milk__item-input[type="radio"]:focus-visible + .milk__item-mark::before {
  background-color: rgba(120, 89, 207, 0.25);
}
  
.milk__item-input:focus-visible:not(:checked) + .milk__item-mark::before {
  background-color: rgba(120, 89, 207, 0.25);
}
